.fixed_layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8;
}
.content_container {
  width: 80vw;
  max-width: 1100px;
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
  background-image: url("/assets/change-pass.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.5) 30%,
      rgba(0, 0, 0, 0) 100%
    );
    z-index: 1;
  }
  .subtitle {
    position: absolute;
    bottom: 60px;
    right: 30px;
    color: #fff;
    z-index: 2;
    h2 {
      margin-bottom: 12px;
    }
    h4 {
      font-size: 18px;
      font-weight: 500;
    }
  }
  .change_password_form,
  .reset_password_form,
  .forget_password_form {
    background-color: #fff;
    width: 50%;
    form {
      width: 360px;
      padding: 30px;
      margin: auto;
      img {
        display: block;
        margin: 0 auto 8px;
      }
      h2 {
        text-align: center;
        color: #ed3865;
        margin-bottom: 30px;
      }
      .outline_form_field {
        border: 2px solid #dadce0;
        border-radius: 4px;
        transition: border 180ms cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
        margin-bottom: 18px;
        &.active {
          border: 2px solid blueviolet;
          label {
            color: blueviolet;
            transform: translateY(-34px) translateX(10px) scale(0.75);
          }
        }
        &.valid {
          border: 2px solid rgba(0, 0, 0, 0.3);
          label {
            transform: translateY(-34px) translateX(10px) scale(0.75);
            color: rgba(0, 0, 0, 0.8);
          }
        }
        &.invalid {
          border: 2px solid red;
          margin-bottom: 35px;
          label {
            transform: translateY(-34px) translateX(10px) scale(0.75);
            color: red;
          }
        }
        .err_msg {
          color: red;
          position: absolute;
          top: calc(100% + 2px);
          right: 0;
        }
        label {
          position: absolute;
          top: 50%;
          transform: translateY(-50%) scale(1);
          right: 14px;
          border-radius: 35px;
          padding: 2px 10px;
          cursor: text;
          user-select: none;
          font-size: 1em;
          font-weight: 500;
          background-color: #fff;
          color: rgba(0, 0, 0, 0.6);
          transform-origin: center right;
          transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        input {
          width: 100%;
          height: 40px;
          border: 0;
          outline: 0;
          padding: 0;
          font-size: 1em;
          padding: 0 20px;
        }
      }
      button {
        background-color: #e56574;
        width: 100%;
        height: 40px;
        border-radius: 4px;
        color: #fff;
        &[disabled] {
          background-color: #e56574;
          color: #fff;
          cursor: not-allowed;
          opacity: 0.6;
        }
      }
    }
  }
}
