<div class="fixed_layer">
  <div class="content_container">
      <div class="subtitle">
          <h2>{{'change_password' | translate}}</h2>
          <h4>{{'fill_fields_to_change_password' | translate}}</h4>
      </div>
      <div class="change_password_form">
          <form #changePasswordForm="ngForm" (ngSubmit)="onSubmit(changePasswordForm)" novalidate>
              <img src="./../../../assets/change-pass-avatar.png" alt="">
              <h2>{{'welcome' | translate}} {{username}}</h2>
              <div
                  class="outline_form_field"
                  [class.active]="activeFieldId === 'old_password'"
                  [class.invalid]="old_password.touched && old_password.invalid"
                  [class.valid]="old_password.touched && !old_password.invalid"
                  >
                  <label for="old_password">{{'old_password' | translate}}</label>
                  <input 
                      required
                      pattern=".{6,}"
                      type="password" 
                      autocomplete="off"
                      id="old_password"
                      ngModel
                      name="old_password"
                      #old_password="ngModel"
                      (focus)="onFocus('old_password')"
                      (focusout)="onFocusout('')">
                  <div class="err_msg" *ngIf="old_password.invalid && old_password.touched">
                      <small *ngIf="old_password.errors.required">{{'required_field' | translate}}</small>
                      <small *ngIf="old_password.errors.pattern">{{'six_chars_at_least' | translate}}</small>
                  </div>
              </div>
              <div 
                  class="outline_form_field"
                  [class.active]="activeFieldId === 'new_password'"
                  [class.invalid]="new_password.touched && new_password.invalid"
                  [class.valid]="new_password.touched && !new_password.invalid"
                  >
                  <label for="new_password">{{'new_password' | translate}}</label>
                  <input 
                      required
                      pattern=".{6,}"
                      type="password"
                      autocomplete="off"
                      id="new_password"
                      ngModel
                      name="new_password"
                      #new_password="ngModel"
                      (focus)="onFocus('new_password')"
                      (focusout)="onFocusout('')">
                  <div class="err_msg" *ngIf="new_password.invalid && new_password.touched">
                      <small *ngIf="new_password.errors.required">{{'required_field' | translate}}</small>
                      <small *ngIf="new_password.errors.pattern">{{'six_chars_at_least' | translate}}</small>
                  </div>
              </div>
              <div 
                  class="outline_form_field"
                  [class.active]="activeFieldId === 'confirm_password'"
                  [class.invalid]="confirm_password.touched && (confirm_password.invalid || confirm_password.value !== new_password.value)"
                  [class.valid]="confirm_password.touched && (confirm_password.value === new_password.value)"
                  >
                  <label for="confirm_password">{{'confirm_password' | translate}}</label>
                  <input 
                      required
                      type="password" 
                      autocomplete="off"
                      id="confirm_password"
                      ngModel
                      name="confirm_password"
                      #confirm_password="ngModel"
                      (focus)="onFocus('confirm_password')"
                      (focusout)="onFocusout('')">
                  <div class="err_msg" *ngIf="confirm_password.touched && (confirm_password.value !== new_password.value)">
                      <small>{{'passwords_dose_not_match' | translate}}</small>
                  </div>
              </div>
              <button mat-raised-button [disabled]="changePasswordForm.form.invalid || confirm_password.value !== new_password.value" type="submit" class="btn btn-primary submit">{{'buttons.reset_password' | translate}}</button>
          </form>
      </div>
  </div>
</div>