/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
}
body {
  direction: rtl;
  background-color: #f8f8f8;
}
button {
  cursor: pointer;
}
